* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    display: flex;
}

.sidebar {
    background-color: whitesmoke;
    color: #080808;
    height: 100vh;
    width: 220px;
    transition: all 0.10s;
}

.title{
    margin-top: 10px;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 13px 1px;
    color: white;
    background-color: rgb(15, 76, 161);
}

.top_section:hover {
    cursor: pointer;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 80%;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    justify-content: center;
    margin-top: 10px;
    color: #000;
}

.link {
    display: flex;
    color: #000;
    padding: 13px 15px;
    gap: 20px;
    transition: all 0.5s;
}

.link:hover {
    color: #fff;
    background: rgb(39, 55, 77);
    transition: all 0.5s;
}

.link:hover .icon, .link:hover .link_text {
    color: #fff;
}

.link.active {
    background: rgb(39, 55, 77);
    color: #fff !important;
}

.link.active .icon, .link.active .link_text {
    color: #fff !important;
}

.icon, .link_text {
    font-size: 20px;
    color: #000;
}

.navlinks {
    margin-top: 20%;
}

.logout {
    display: flex;
    font-size: 20px;
    margin-top: 70%;
    margin-left: 20%;
}

.logout:hover {
    color: red;
}

.logo_name {
    display: flex;
}

.money {
    font-size: 23px;
    font-weight: 555;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.mentor {
    font-size: 21px;
    font-weight: 549;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.top_section:hover .money, .top_section:hover .mentor {
   letter-spacing: 0.2px;
}

.letfarrow {
    position: absolute;
    left: 12%;
    margin-top: 8px;
}

.outlogo{
    margin-top: 5px;
    font-weight: 700 !important;
}

.logout:hover{
    cursor: pointer;
}